html {
  font-size: 120%;
  height: 100%; }

body {
  height: 100%; }

#root, .App {
  height: 100%; }

.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  overflow-x: hidden; }

.route-cont {
  width: 100%; }

#mobile-cont {
  width: 200px;
  position: absolute;
  height: 100%;
  transform: translateX(200px);
  right: 0; }
  #mobile-cont #headerIcon {
    position: absolute;
    left: -40px;
    top: 10px;
    cursor: pointer;
    transition: opacity 0.5s; }
  #mobile-cont .show-mi {
    opacity: 1; }
  #mobile-cont .hide-mi {
    opacity: 0; }
  #mobile-cont #mobile-nav {
    padding-top: 20px;
    font-family: "Ubuntu";
    position: relative;
    height: 100%;
    background-color: #f7f7f7; }
    #mobile-cont #mobile-nav #close-icon {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px; }
    #mobile-cont #mobile-nav .header-links-m {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 18px;
      color: black;
      margin: 15px 0 15px 20px;
      opacity: 1; }

p {
  margin: 0px; }

button,
[role="button"] {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #e8e8e8;
  color: black;
  font-family: "Quicksand";
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  outline: 0; }
  button:hover,
  [role="button"]:hover {
    background-color: #d8d8d8; }

.subheading {
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: center; }

.miniheading {
  font-size: 1.5rem;
  text-align: center; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

.expand-nav {
  animation: expandNav 0.75s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out; }
  .expand-nav .header-links-m {
    animation: fadeandslidein 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out; }

.collapse-nav {
  animation: collapseNav 0.75s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out; }
  .collapse-nav .header-links-m {
    animation: fadeandslideout 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out; }

@keyframes slidefade {
  from {
    transform: translateX(-20px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes expandNav {
  from {
    transform: translateX(200px); }
  to {
    transform: translateX(0); } }

@keyframes fadeandslidein {
  from {
    opacity: 0;
    transform: translateX(30px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes collapseNav {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(200px); } }

@keyframes fadeandslideout {
  from {
    opacity: 1;
    transform: translateX(0px); }
  to {
    opacity: 0;
    transform: translateX(30px); } }

@media (min-width: 0px) {
  .App {
    width: 100%; } }

@media (min-width: 300px) {
  html {
    font-size: 35%; } }

@media (min-width: 500px) {
  html {
    font-size: 50%; } }

@media (min-width: 650px) {
  .App {
    width: 100%; } }

@media (min-width: 768px) {
  html {
    font-size: 75%; } }

@media (min-width: 1280px) {
  html {
    font-size: 100%; } }
