
// Mixins

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin animate($name, $time, $delay, $fill) {
  animation: $name $time;
  animation-delay: $delay;
  animation-fill-mode: $fill;
}

// General code

html {
  font-size: 120%;
  height: 100%;
}

body {
  height: 100%;
}

#root, .App {
  height: 100%;
}

.App {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.route-cont {
  width: 100%;
}

#mobile-cont {
  width: 200px;
  position: absolute;
  height: 100%;
  transform: translateX(200px);
  right: 0;

  #headerIcon {
    position: absolute;
    left: -40px;
    top: 10px;
    cursor: pointer;
    transition: opacity 0.5s;
  }

  .show-mi {
    opacity: 1;
  }

  .hide-mi {
    opacity: 0;
  }

  #mobile-nav {
    padding-top: 20px;
    font-family: "Ubuntu";
    position: relative;
    height: 100%;
    background-color: #f7f7f7;

    #close-icon {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .header-links-m {
      @include flex(column, flex-start, flex-start);
      font-size: 18px;
      color: black;
      margin: 15px 0 15px 20px;
      opacity: 1;
    }
  }
}

p {
  margin: 0px;
}

button,
[role="button"] {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #e8e8e8;
  color: black;
  font-family: "Quicksand";
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  outline: 0;

  &:hover {
    background-color: #d8d8d8;
  }
}

.subheading {
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: center;
}

.miniheading {
  font-size: 1.5rem;
  text-align: center;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

// Animation Classes


.expand-nav {
  @include animate(expandNav, 0.75s, 0s, forwards);
  transition-timing-function: ease-in-out;

  .header-links-m {
    @include animate(fadeandslidein, 2s, 0s, forwards);
    transition-timing-function: ease-in-out;
  }
}

.collapse-nav {
  @include animate(collapseNav, 0.75s, 0s, forwards);
  transition-timing-function: ease-in-out;

  .header-links-m {
    @include animate(fadeandslideout, 0.5s, 0s, forwards);
    transition-timing-function: ease-in-out;
  }
}

// Keyframes

@keyframes slidefade {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}


@keyframes expandNav {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeandslidein {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes collapseNav {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}

@keyframes fadeandslideout {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}

// Media queries

@media (min-width: 0px) {
  .App {
    width: 100%;
  }
}

@media (min-width: 300px) {
  html {
    font-size: 35%;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 650px) {
  .App {
    width: 100%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}
