
// Mixins

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin animate($name, $time, $delay, $fill) {
  animation: $name $time;
  animation-delay: $delay;
  animation-fill-mode: $fill;
}

// General code

html {
  font-size: 120%;
  height: 100%;
}

body {
  height: 100%;
}

#root, .App {
  height: 100%;
}

p {
  margin: 0px;
}

button,
[role="button"] {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #e8e8e8;
  color: black;
  font-family: "Quicksand";
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;

  &:hover {
    background-color: #d8d8d8;
  }
}

.subheading {
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: center;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

// Keyframes

@keyframes slidefade {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

// Media queries

@media (min-width: 300px) {
  html {
    font-size: 35%;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}
