// Imports

@import 'App.scss';
@import 'Home.scss';

// General code

// Header

#headerCont {
  @include flex(row, center, center);
  height: 60px;
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #afaeae;

  .header-links {
    padding: 0 25px 0 25px;
    color: #262626;

    &:hover {
      color: #93b7d6;
    }
  }
}

// All Pages

.page-container {
  @include flex(column, flex-start, flex-start)
  width: 100%;
  height: 100%;
}

.body-cont {
  @include flex(row, flex-start, flex-start);
  position: relative;
  width: 100%;
  flex: 1;
}

.content {
  @include flex(column, flex-start, center);
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center;
}

// World component

.desc-cont {
  padding: 30px 100px 30px 100px;
}

#map-wrap {
  @include flex(column, center, center);
  width: 100%;
  position: relative;

  #map-cont {
    width: 100%;
    filter: brightness(40%);
  }

  #continent-wrap {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    position: absolute;
    z-index: 15;
    color: white;
    width: 100%;

    .continent-sec {
      @include flex(column, center, center);
      width: 400px;
      padding: 20px 80px 20px 80px;

      .subheading {
        font-family: "Poppins";
      }

      .desc {
        font-size: 1.1rem;
      }
    }
  }

  #mapLink {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 16;
  }
}

// Westeros component

#westeros-divider {
  width: 85%;
  height: 1px;
  background-color: #bfbfbf;
  margin-bottom: 10px;
}

#westeros-cont {
  @include flex(column, center, center);
  width: 100%;
  padding-top: 25px;

  .miniheading {
    padding-bottom: 15px;
  }

  .westeros-subsec {
    @include flex(row, space-between, center);
    width: 100%;

    .info {
      @include flex(column, center, center);

      .desc {
        margin: 0 50px 0 50px;
        font-size: 0.9rem;
      }
    }

    #kl-pic {
      width: 50%;
    }

    #wall-pic {
      width: 50%;
    }
  }
}

// Essos component

#desc-cont-essos {
  padding-bottom: 0px;
}

#essos-divider {
  width: 95%;
  height: 1px;
  background-color: #bfbfbf;
}

#essos-cont {
  @include flex(column, flex-start, center);

  .essos-subsec {
    @include flex(column, flex-start, flex-start);
    margin: 50px 50px 60px 50px;

    .miniheading {
      padding-bottom: 10px;
      font-family: "Poppins";
      font-size: 1.75rem;
    }

    .desc-img {
      @include flex(row, flex-start, flex-start);

      img {
        width: 45%;
      }

      .desc {
        width: 50%;
        margin-left: 30px;
        margin-top: 0px;
        text-align: left;
      }
    }
  }
}

// Structure component

#structure-cont {
  padding: 20px 50px 20px 50px;

  .miniheading {
    font-family: "Poppins";
    padding: 5px 0 5px 0;
  }

  #top-half {
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 250px 250px;

    #king-cont {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      margin: 5px;
      @include flex(column, flex-start, center);
      padding: 10px 20px 10px 20px;

      img {
        width: 140px;
      }
    }

    #hand-cont {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      margin: 5px;
      @include flex(column, flex-start, flex-start);
      text-align: left;
      padding: 10px 20px 10px 20px;
    }

    #council-cont {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      margin: 5px;
      @include flex(column, flex-start, flex-start);
      text-align: left;
      padding: 10px 20px 10px 20px;
    }
  }

  #bottom-half {
    display: grid;
    grid-template-columns: 530px 470px;
    grid-template-rows: 300px;

    #house-cont {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      margin: 5px;
      @include flex(column, flex-start, flex-start);
      text-align: left;
      padding: 10px 20px 10px 20px;
    }

    #other-cont {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      margin: 5px;
      @include flex(column, flex-start, flex-start);
      text-align: left;
      padding: 10px 20px 10px 20px;
    }
  }

  // numbers generated courtesy of https://www.cssmatic.com/box-shadow
  .card-shadow {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
    box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
    border: 1px solid #f4f4f4;
  }
}

// House component


#house-cont {

  #house-selecs {
    display: grid;
    grid-template-columns: 110px 110px 110px 110px 110px 110px 110px 110px;
    grid-template-rows: 110px 110px 110px 110px 110px 110px 110px 110px;
    margin: 20px;

    .sigils {
      margin-right: 10px;
      background-image: url('../images/sigils-3.png');
      cursor: pointer;
    }

    #sigil-0 {
      background-position: 0px 0px;
      height: 104px;
      width: 95px;
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    #sigil-1 {
      background-position: 0px -104px;
      height: 104px;
      width: 95px;
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }

    #sigil-2 {
      background-position: 0px -207px;
      height: 104px;
      width: 95px;
      grid-column: 6 / span 1;
      grid-row: 1 / span 1;
    }

    #sigil-3 {
      background-position: 0px -311px;
      height: 102px;
      width: 95px;
      grid-column: 8 / span 1;
      grid-row: 3 / span 1;
    }

    #sigil-4 {
      background-position: 0px -414px;
      height: 101px;
      width: 95px;
      grid-column: 2 / span 1;
      grid-row: 5 / span 1;
    }

    #sigil-5 {
      background-position: 0px -516px;
      height: 104px;
      width: 95px;
      grid-column: 4 / span 1;
      grid-row: 8 / span 1;
    }

    #sigil-6 {
      background-position: 0px -620px;
      height: 103px;
      width: 95px;
      grid-column: 7 / span 1;
      grid-row: 5 / span 1;
    }

    #sigil-7 {
      background-position: 0px -723px;
      height: 103px;
      width: 95px;
      grid-column: 5 / span 1;
      grid-row: 4 / span 1;
    }

    #sigil-8 {
      background-position: 0px -826px;
      height: 104px;
      width: 95px;
      grid-column: 1 / span 1;
      grid-row: 7 / span 1;
    }

    #sigil-9 {
      background-position: 0px -930px;
      height: 103px;
      width: 95px;
      grid-column: 5 / span 1;
      grid-row: 6 / span 1;
    }

    #sigil-10 {
      background-position: 0px -1033px;
      height: 104px;
      width: 95px;
      grid-column: 8 / span 1;
      grid-row: 7 / span 1;
    }
  }

  .houseIntroCont {
    @include flex(row, flex-start, flex-start);
    text-align: left;

    .house-intro {
      @include flex(row, flex-start, flex-start);
      width: 50%;

      .house-general {
        @include flex(column, flex-start, flex-start);
      }

      .sigils {
        margin-right: 10px;
        background-image: url('../images/sigils-3.png');
      }
    }

    .general-info {
      @include flex(column, flex-start, flex-start);
      width: 50%;
    }
  }

  .house-divider {
    width: calc(100% - 25px);
    height: 1px;
    background-color: #bfbfbf;;
    margin: 20px 0 20px 0;
  }

  .family-members {
    @include flex(column, flex-start, center);

    #mems-of-house {
      padding-bottom: 30px;
    }

    .member-row {
      @include flex(row, flex-start, flex-start);
      width: 600px;
      padding-bottom: 30px;

      img {
        width: 100px;
      }

      .member-info-cont {
        @include flex(column, flex-start, flex-start);
        padding-left: 10px;

        .member-title {
          font-size: 17px;
          font-weight: bold;
        }

        p {
          text-align: left;
        }
      }
    }
  }
}


// Rebellion component

#desc-cont-reb {
  padding: 20px !important;
  margin-top: 50px;
  border-radius: 3px;
  background: #335084;
  color: #ededed;
  width: 800px;
}

.timeline {
  margin-right: 46px;
  margin-bottom: 50px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #dddddd;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateX(-15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #c4c4c4;
}

.timeline ul li div {
  @include flex(column, flex-start, flex-start);
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #5d81bf;
  color: white;
  text-align: left;
  opacity: 0;
  border-radius: 3px;

  .miniheading {
    padding-bottom: 10px;
  }
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 95px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #5d81bf transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -525px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #5d81bf;
}

// Animation classes

.expand {
  @include animate(expand, 0.5s, 0s, forwards);
}

.collapse {
  @include animate(collapse, 0.5s, 0s, forwards);
}

.block-in-left {
  @include animate(moveblockleft, 3s, 0s, forwards);
}

.block-in-right {
  @include animate(moveblockright, 3s, 0s, forwards);
}

.hover-image-one {
  @include animate(hoverimageone, 35s, 0s, forwards);
  animation-iteration-count: infinite;
}

.hover-image-two {
  @include animate(hoverimageone, 35s, 0s, forwards);
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

// Keyframes

@keyframes hoverimageone {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(5px, 5px);
  }
  20% {
    transform: translate(-5px, -5px);
  }
  30% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(5px, 0px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  60% {
    transform: translate(-5px, -5px);
  }
  70% {
    transform: translate(0px, 5px);
  }
  80% {
    transform: translate(5px, 5px);
  }
  90% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes expand {
  from {
    transform: translateX(-205px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes collapse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-205px);
  }
}

@keyframes moveblockleft {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(-50px);
    opacity: 1;
  }
}

@keyframes moveblockright {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(50px);
    opacity: 1;
  }
}

// Media queries

@media (min-width: 300px) {
  .table {
    width: 100px;
  }
  .tableIcon {
    width: 34px;
    height: 34px;
    border-radius: 17px;
  }
  #headerCont > .header-links {
    padding: 0px 15px 0px 15px;
  }
  .desc-cont {
    padding: 20px 50px 20px 50px;
  }
  #westeros-cont {
    .westeros-subsec {
      @include flex(column, flex-start, center);

      .info {
        @include flex(column, center, center);

        .desc {
          margin: 0 50px 0 50px;
        }
      }

      #kl-pic {
        width: 100%;
        margin: 20px 0 20px 0;
      }

      #wall-pic {
        width: 100%;
        margin: 20px 0 0 0;
      }
    }
    #beyond-wall {
      flex-direction: column-reverse;
    }
  }
  #essos-cont {

    .essos-subsec {
      margin: 50px 50px 60px 50px;

      .desc-img {
        @include flex(column, flex-start, flex-start);

        img {
          width: 100%;
        }

        .desc {
          width: 100%;
          margin-left: 0px;
          margin-top: 10px;
          text-align: left;
        }
      }
    }
  }
  #structure-cont {
    #top-half {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 265px 150px 165px;

      #king-cont {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        img {
          width: 80px;
        }
      }
      #hand-cont {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        @include flex(column, flex-start, center);
        text-align: center;
      }
      #council-cont {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        @include flex(column, flex-start, center);
        text-align: center;
      }
    }
    #bottom-half {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 185px 175px;

      #house-cont {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        @include flex(column, flex-start, center);
        text-align: center;
      }

      #other-cont {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        @include flex(column, flex-start, center);
        text-align: center;
      }
    }
  }
  #houses-cont {
    width: calc(100% - 20px);
    margin: 20px 0 20px 0;

    .houseIntroCont {
      @include flex(column, flex-start, center);
      text-align: center;

      .house-intro {
        @include flex(column, flex-start, center);
        width: 350px;

        .house-general {
          @include flex(column, flex-start, center);
          padding-top: 20px;
        }

        .sigils {
          margin-right: 0px;
          background-image: url('../images/sigils-3.png');
        }
      }

      .general-info {
        @include flex(column, flex-start, center);
        width: 350px;
        padding-top: 20px;
      }
    }

    .family-members > .member-row {
      width: 350px;

      .member-info-cont > .member-title {
        font-size: 12px;
      }
    }
  }

  #desc-cont-reb {
    width: 300px;
  }

  .timeline ul li div {
    width: 120px;
  }

  .timeline ul li:nth-child(even) div {
    left: -240px;
  }
}

@media (min-width: 500px) {
  .table {
    width: 150px;
  }
  .desc-cont {
    padding: 30px 70px 30px 70px;
  }
}

@media (min-width: 650px) {

  #westeros-cont {
    .westeros-subsec {
      @include flex(row, space-between, center);

      .info {
        @include flex(column, center, center);

        .desc {
          margin: 0 50px 0 50px;
        }
      }

      #kl-pic {
        width: 50%;
        margin: 0;
      }

      #wall-pic {
        width: 50%;
        margin: 0;
      }
    }
    #beyond-wall {
      flex-direction: row;
    }
  }

  #essos-cont {

    .essos-subsec {
      margin: 50px 50px 60px 50px;

      .desc-img {
        @include flex(row, flex-start, flex-start);

        img {
          width: 45%;
        }

        .desc {
          width: 50%;
          margin-left: 30px;
          margin-top: 0px;
          text-align: left;
        }
      }
    }
  }
  #houses-cont {
    width: calc(100% - 50px);
    margin: 50px 0 20px 0;

    .houseIntroCont {
      @include flex(row, flex-start, flex-start);
      text-align: left;

      .house-intro {
        @include flex(row, flex-start, flex-start);
        width: 50%;

        .house-general {
          @include flex(column, flex-start, flex-start);
          padding-top: 0px;
        }

        .sigils {
          margin-right: 10px;
          background-image: url('../images/sigils-3.png');
        }
      }

      .general-info {
        @include flex(column, flex-start, flex-start);
        width: 50%;
        padding-top: 0px;
      }
    }

    .family-members > .member-row {
      width: 500px;

      .member-info-cont > .member-title {
        font-size: 14px;
      }
    }
  }

  #desc-cont-reb {
    width: 550px;
  }

  .timeline ul li div {
    width: 220px;
  }

  .timeline ul li:nth-child(even) div {
    left: -340px;
  }
}

@media (min-width: 768px){
  .table {
    width: 200px;
  }
  .tableIcon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  #headerCont > .header-links {
    padding: 0px 20px 0px 20px;
  }
  .desc-cont {
    padding: 30px 100px 30px 100px;
  }
  #structure-cont {
    #top-half {
      display: grid;
      grid-template-columns: 300px 450px;
      grid-template-rows: 200px 200px;

      #king-cont {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        img {
          width: 120px;
        }
      }
      #hand-cont {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        @include flex(column, flex-start, flex-start);
        text-align: left;
      }
      #council-cont {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        @include flex(column, flex-start, flex-start);
        text-align: left;
      }
    }
    #bottom-half {
      display: grid;
      grid-template-columns: 400px 350px;
      grid-template-rows: 250px;

      #house-cont {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        @include flex(column, flex-start, flex-start);
        text-align: left;
      }

      #other-cont {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        @include flex(column, flex-start, flex-start);
        text-align: left;
      }
    }
  }
  #houses-cont {
    width: calc(100% - 200px);
  }

  #desc-cont-reb {
    width: 700px;
  }

  .timeline ul li div {
    width: 300px;
  }

  .timeline ul li:nth-child(even) div {
    left: -425px;
  }
}

@media (min-width: 1280px) {
  #continentTabsWrapper {
    .cover-wes {
      margin: 0 0 0 15px;
      width: 100px;
    }
    .cover-ess {
      margin: 0 0 0 150px;
      width: 58px;
    }
  }
  #headerCont > .header-links {
    padding: 0px 25px 0px 25px;
  }
  #structure-cont {
    #top-half {
      display: grid;
      grid-template-columns: 400px 600px;
      grid-template-rows: 250px 250px;

      #king-cont {
        img {
          width: 140px;
        }
      }
    }
    #bottom-half {
      display: grid;
      grid-template-columns: 530px 470px;
      grid-template-rows: 300px;
    }
  }
  #houses-cont {
    width: calc(100% - 200px);
    margin: 50px 0 20px 0;

    .houseIntroCont {
      @include flex(row, flex-start, flex-start);
      text-align: left;

      .house-intro {
        @include flex(row, flex-start, flex-start);
        width: 50%;

        .house-general {
          @include flex(column, flex-start, flex-start);
          padding-top: 0px;
        }

        .sigils {
          margin-right: 10px;
          background-image: url('../images/sigils-3.png');
        }
      }

      .general-info {
        @include flex(column, flex-start, flex-start);
        width: 50%;
        padding-top: 0px;
      }
    }

    .family-members > .member-row {
      width: 600px;

      .member-info-cont > .member-title {
        font-size: 17px;
      }
    }
  }

  #desc-cont-reb {
    width: 800px;
  }

  .timeline ul li div {
    width: 400px;
  }

  .timeline ul li:nth-child(even) div {
    left: -525px;
  }
}
