html {
  font-size: 120%;
  height: 100%; }

body {
  height: 100%; }

#root, .App {
  height: 100%; }

p {
  margin: 0px; }

button,
[role="button"] {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #e8e8e8;
  color: black;
  font-family: "Quicksand";
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  outline: 0; }
  button:hover,
  [role="button"]:hover {
    background-color: #d8d8d8; }

.subheading {
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: center; }

.miniheading {
  font-size: 1.5rem;
  text-align: center; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

@keyframes slidefade {
  from {
    transform: translateX(-20px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@media (min-width: 300px) {
  html {
    font-size: 35%; } }

@media (min-width: 500px) {
  html {
    font-size: 50%; } }

@media (min-width: 768px) {
  html {
    font-size: 75%; } }

@media (min-width: 1280px) {
  html {
    font-size: 100%; } }

html {
  font-size: 120%;
  height: 100%; }

body {
  height: 100%; }

#root, .App {
  height: 100%; }

p {
  margin: 0px; }

button,
[role="button"] {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #e8e8e8;
  color: black;
  font-family: "Quicksand";
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  outline: 0; }
  button:hover,
  [role="button"]:hover {
    background-color: #d8d8d8; }

.subheading {
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: center; }

.miniheading {
  font-size: 1.5rem;
  text-align: center; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

@keyframes slidefade {
  from {
    transform: translateX(-20px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@media (min-width: 300px) {
  html {
    font-size: 35%; } }

@media (min-width: 500px) {
  html {
    font-size: 50%; } }

@media (min-width: 768px) {
  html {
    font-size: 75%; } }

@media (min-width: 1280px) {
  html {
    font-size: 100%; } }

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.cover-img-cont {
  width: 100%;
  position: relative;
  background-color: #f2f2f2; }
  .cover-img-cont #cover-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation: moveup 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 1; }
    .cover-img-cont #cover-text p {
      color: black;
      margin: 0px; }
    .cover-img-cont #cover-text #cover-title {
      animation: fadein 5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      font-size: 2.5rem;
      opacity: 0; }
    .cover-img-cont #cover-text #cover-desc {
      animation: fadein 5s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
      font-size: 1.25rem;
      opacity: 0; }
  .cover-img-cont img {
    width: 100%; }

.intro-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: #f2f2f2; }
  .intro-cont #intro-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    height: 200px; }
    .intro-cont #intro-sec .subheading {
      padding-right: 75px; }
    .intro-cont #intro-sec .divider {
      border-right: 1px solid #2A3A3F; }
  .intro-cont #desc {
    width: 60%;
    text-align: center;
    padding-left: 75px; }

.nav-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  height: 300px; }
  .nav-prev #button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 15px; }
  .nav-prev #sectionDesc {
    margin: 0 100px 10px 100px;
    max-width: 1000px; }
  .nav-prev #previewButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }

#me-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: #2A3A3F;
  z-index: 20;
  color: white; }
  #me-cont a {
    color: white;
    transition: color 1s; }
    #me-cont a:hover {
      color: #adbad3; }
    #me-cont a span {
      font-size: 1.5rem; }

.fade-none {
  opacity: 0; }

.fade-in {
  animation: fadein 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.height-none {
  height: 0; }

.height-grow {
  animation: height 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes moveup {
  from {
    transform: translate(0px, 0px); }
  to {
    transform: translate(0px, -20px); } }

@keyframes height {
  0% {
    height: 0px; }
  100% {
    height: 80%; } }

@media (min-width: 300px) {
  .cover-img-cont #cover-text {
    top: 60%; }
    .cover-img-cont #cover-text #cover-title {
      font-size: 3.25rem; }
    .cover-img-cont #cover-text #cover-desc {
      font-size: 2.25rem; }
  .button-row > button {
    padding: 3px 12px 3px 12px; }
  .nav-prev {
    height: 200px; }
    .nav-prev #sectionDesc {
      margin: 0 20px 10px 20px; }
  .intro-cont {
    padding: 25px 0 25px 0; }
    .intro-cont #desc {
      width: 60%;
      padding-left: 20px; }
    .intro-cont #intro-sec > .subheading {
      padding-right: 20px; }
  #me-cont {
    height: 200px; } }

@media (min-width: 500px) {
  .cover-img-cont #cover-text {
    top: 45%; }
    .cover-img-cont #cover-text #cover-title {
      font-size: 2.5rem; }
    .cover-img-cont #cover-text #cover-desc {
      font-size: 1.25rem; }
  .nav-prev {
    height: 300px; }
    .nav-prev #sectionDesc {
      margin: 0 40px 10px 40px; }
  .intro-cont {
    padding: 50px 0 50px 0; }
  #me-cont {
    height: 300px; } }

@media (min-width: 650px) {
  .button-row > button {
    padding: 10px; }
  .intro-cont #desc {
    width: 70%;
    padding-left: 75px; }
  .intro-cont #intro-sec > .subheading {
    padding-right: 75px; } }

@media (min-width: 768px) {
  .nav-prev > #sectionDesc {
    margin: 0 100px 10px 100px; } }

#headerCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #afaeae; }
  #headerCont .header-links {
    padding: 0 25px 0 25px;
    color: #262626; }
    #headerCont .header-links:hover {
      color: #93b7d6; }

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%; }

.body-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  flex: 1; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center; }

.desc-cont {
  padding: 30px 100px 30px 100px; }

#map-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative; }
  #map-wrap #map-cont {
    width: 100%;
    filter: brightness(40%); }
  #map-wrap #continent-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: absolute;
    z-index: 15;
    color: white;
    width: 100%; }
    #map-wrap #continent-wrap .continent-sec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      padding: 20px 80px 20px 80px; }
      #map-wrap #continent-wrap .continent-sec .subheading {
        font-family: "Poppins"; }
      #map-wrap #continent-wrap .continent-sec .desc {
        font-size: 1.1rem; }
  #map-wrap #mapLink {
    position: absolute;
    height: 100%;
    width: 100%; }

#westeros-divider {
  width: 85%;
  height: 1px;
  background-color: #bfbfbf;
  margin-bottom: 10px; }

#westeros-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px; }
  #westeros-cont .miniheading {
    padding-bottom: 15px; }
  #westeros-cont .westeros-subsec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    #westeros-cont .westeros-subsec .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #westeros-cont .westeros-subsec .info .desc {
        margin: 0 50px 0 50px;
        font-size: 0.9rem; }
    #westeros-cont .westeros-subsec #kl-pic {
      width: 50%; }
    #westeros-cont .westeros-subsec #wall-pic {
      width: 50%; }

#desc-cont-essos {
  padding-bottom: 0px; }

#essos-divider {
  width: 95%;
  height: 1px;
  background-color: #bfbfbf; }

#essos-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  #essos-cont .essos-subsec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 50px 60px 50px; }
    #essos-cont .essos-subsec .miniheading {
      padding-bottom: 10px;
      font-family: "Poppins";
      font-size: 1.75rem; }
    #essos-cont .essos-subsec .desc-img {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start; }
      #essos-cont .essos-subsec .desc-img img {
        width: 45%; }
      #essos-cont .essos-subsec .desc-img .desc {
        width: 50%;
        margin-left: 30px;
        margin-top: 0px;
        text-align: left; }

#struct-cont-super > .subheading {
  font-family: "Ubuntu";
  color: #5c8eb5;
  font-size: 28px; }

#structure-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 1% 20px 1%; }
  #structure-cont #struct-choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 280px; }
    #structure-cont #struct-choices button {
      border-radius: 1px;
      border: 1px solid #72a9d3;
      background-color: white;
      color: black;
      width: 170px;
      margin: 0 40px 10px 40px;
      padding: 15px; }
      #structure-cont #struct-choices button:hover {
        background-color: #5c8eb5;
        color: white;
        transition: 0.25s background-color; }
    #structure-cont #struct-choices .struct-btn-active {
      background-color: #5c8eb5;
      color: white; }
  #structure-cont #struct-desc {
    width: 65%; }
    #structure-cont #struct-desc .struct-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: #4e7ea3;
      border-radius: 2px;
      padding: 20px;
      color: white;
      height: 205px; }
      #structure-cont #struct-desc .struct-card .miniheading {
        font-family: "Poppins";
        padding: 5px 0 15px 0; }
      #structure-cont #struct-desc .struct-card p {
        animation: fadein 0.2s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        opacity: 0; }

#house-cont {
  margin: 25px 5px 40px 5px;
  width: 100%; }
  #house-cont #house-selecs-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: fadein 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards; }
    #house-cont #house-selecs-cont .miniheading {
      font-size: 20px !important; }
    #house-cont #house-selecs-cont #house-selecs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 760px;
      margin: 20px; }
      #house-cont #house-selecs-cont #house-selecs .sigils {
        margin: 10px 15px 40px 15px;
        background-image: url("../images/finalsig.png");
        background-size: 100px 1155px;
        cursor: pointer; }
        #house-cont #house-selecs-cont #house-selecs .sigils:hover {
          animation: rotateimage 1s;
          animation-delay: 0s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out; }
        #house-cont #house-selecs-cont #house-selecs .sigils:hover:after {
          content: '';
          font-family: 'Ubuntu';
          font-size: 13px !important;
          position: absolute;
          bottom: -50px;
          left: 0px;
          width: 95px;
          height: 50px; }
      #house-cont #house-selecs-cont #house-selecs #sigil-0 {
        background-position: 0px 0px;
        height: 104px;
        width: 95px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-0:hover:after {
          content: 'House Baratheon'; }
      #house-cont #house-selecs-cont #house-selecs #sigil-1 {
        background-position: 0px -105px;
        height: 104px;
        width: 95px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-1:hover:after {
          content: 'House Arryn'; }
      #house-cont #house-selecs-cont #house-selecs #sigil-2 {
        background-position: 0px -210px;
        height: 104px;
        width: 95px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-2:hover:after {
          content: 'House Martell'; }
      #house-cont #house-selecs-cont #house-selecs #sigil-3 {
        background-position: 0px -315px;
        height: 104px;
        width: 95px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-3:hover:after {
          content: 'House Stark'; }
      #house-cont #house-selecs-cont #house-selecs #sigil-4 {
        background-position: 0px -420px;
        height: 104px;
        width: 87px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-4:hover:after {
          content: 'House Bolton';
          width: 87px; }
      #house-cont #house-selecs-cont #house-selecs #sigil-5 {
        background-position: 0px -525px;
        height: 104px;
        width: 95px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-5:hover:after {
          content: 'House Greyjoy'; }
      #house-cont #house-selecs-cont #house-selecs #sigil-6 {
        background-position: 0px -630px;
        height: 104px;
        width: 87px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-6:hover:after {
          content: 'House Lannister';
          width: 87px; }
      #house-cont #house-selecs-cont #house-selecs #sigil-7 {
        background-position: 0px -735px;
        height: 104px;
        width: 87px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-7:hover:after {
          content: 'House Tyrell';
          width: 87px; }
      #house-cont #house-selecs-cont #house-selecs #sigil-8 {
        background-position: 0px -840px;
        height: 104px;
        width: 95px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-8:hover:after {
          content: 'House Tully'; }
      #house-cont #house-selecs-cont #house-selecs #sigil-9 {
        background-position: 0px -945px;
        height: 104px;
        width: 95px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-9:hover:after {
          content: 'House Frey'; }
      #house-cont #house-selecs-cont #house-selecs #sigil-10 {
        background-position: 0px -1050px;
        height: 104px;
        width: 87px; }
        #house-cont #house-selecs-cont #house-selecs #sigil-10:hover:after {
          content: 'House Targaryen';
          width: 87px; }
  #house-cont .house-item {
    animation: fadein 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    margin: 0 20px 0 20px;
    font-size: 15px; }
    #house-cont .house-item .houseIntroCont {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      width: 60%;
      padding: 20px;
      margin: 0 0 40px 0;
      border: 1px solid #afafaf;
      border-radius: 5px;
      background-color: #5a7199;
      color: #f2f2f2; }
      #house-cont .house-item .houseIntroCont .house-intro {
        width: 100%;
        margin-bottom: 35px; }
        #house-cont .house-item .houseIntroCont .house-intro .house-general {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 100%; }
          #house-cont .house-item .houseIntroCont .house-intro .house-general .miniheading {
            font-size: 20px;
            padding-bottom: 20px;
            font-family: 'Ubuntu'; }
      #house-cont .house-item .houseIntroCont .general-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%; }
    #house-cont .house-item .family-members {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      width: 60%; }
      #house-cont .house-item .family-members #mems-of-house {
        padding-bottom: 30px; }
      #house-cont .house-item .family-members .member-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 43%;
        margin: 0 1% 30px 1%;
        border: 1px solid #5a7199;
        padding: 15px 2% 15px 2%;
        border-radius: 3px; }
        #house-cont .house-item .family-members .member-row img {
          width: 100px;
          border-radius: 50%;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
        #house-cont .house-item .family-members .member-row .member-info-cont {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center; }
          #house-cont .house-item .family-members .member-row .member-info-cont .member-title {
            font-family: 'Ubuntu';
            font-size: 17px;
            font-weight: bold;
            margin: 10px 0 10px 0; }
          #house-cont .house-item .family-members .member-row .member-info-cont p {
            text-align: center; }
  #house-cont #iconCont {
    position: absolute;
    top: 70px;
    left: 10px;
    cursor: pointer; }
    #house-cont #iconCont svg:hover {
      stroke: #344766; }
    #house-cont #iconCont:after {
      content: "Pick again!";
      white-space: nowrap;
      font-family: 'Poppins';
      position: absolute;
      height: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      top: 0;
      left: 48px;
      right: 0px;
      margin: 0 5px 0 5px;
      overflow: hidden;
      transition: right 0.5s;
      color: #455a7c; }
    #house-cont #iconCont:hover:after {
      right: -100px; }

#desc-cont-reb {
  padding: 20px !important;
  margin-top: 50px;
  border-radius: 3px;
  background: #335084;
  color: #ededed;
  width: 800px; }

.timeline {
  margin-right: 46px;
  margin-bottom: 50px; }

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #dddddd; }

.timeline ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateX(-15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #c4c4c4; }

.timeline ul li div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #5d81bf;
  color: white;
  text-align: left;
  opacity: 0;
  border-radius: 3px; }
  .timeline ul li div .miniheading {
    padding-bottom: 10px; }

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid; }

.timeline ul li:nth-child(odd) div {
  left: 95px; }

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #5d81bf transparent transparent; }

.timeline ul li:nth-child(even) div {
  left: -525px; }

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #5d81bf; }

.expand {
  animation: expand 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.collapse {
  animation: collapse 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.block-in-left {
  animation: moveblockleft 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.block-in-right {
  animation: moveblockright 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

@keyframes rotateimage {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-15deg); }
  60% {
    transform: rotate(15deg); }
  80% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes expand {
  from {
    transform: translateX(-205px); }
  to {
    transform: translateX(0); } }

@keyframes collapse {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-205px); } }

@keyframes moveblockleft {
  from {
    transform: translateX(0);
    opacity: 0; }
  to {
    transform: translateX(-50px);
    opacity: 1; } }

@keyframes moveblockright {
  from {
    transform: translateX(0);
    opacity: 0; }
  to {
    transform: translateX(50px);
    opacity: 1; } }

@media (min-width: 300px) {
  .table {
    width: 100px; }
  .tableIcon {
    width: 34px;
    height: 34px;
    border-radius: 17px; }
  #headerCont > .header-links {
    padding: 0px 15px 0px 15px; }
  .desc-cont {
    padding: 20px 50px 20px 50px; }
  #westeros-cont .westeros-subsec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    #westeros-cont .westeros-subsec .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #westeros-cont .westeros-subsec .info .desc {
        margin: 0 50px 0 50px; }
    #westeros-cont .westeros-subsec #kl-pic {
      width: 100%;
      margin: 20px 0 20px 0; }
    #westeros-cont .westeros-subsec #wall-pic {
      width: 100%;
      margin: 20px 0 0 0; }
  #westeros-cont #beyond-wall {
    flex-direction: column-reverse; }
  #essos-cont .essos-subsec {
    margin: 50px 50px 60px 50px; }
    #essos-cont .essos-subsec .desc-img {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      #essos-cont .essos-subsec .desc-img img {
        width: 100%; }
      #essos-cont .essos-subsec .desc-img .desc {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
        text-align: left; }
  #structure-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 1% 20px 1%; }
    #structure-cont #struct-choices {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 90%; }
      #structure-cont #struct-choices button {
        width: 100px;
        margin: 0 5px 10px 5px;
        padding: 10px; }
    #structure-cont #struct-desc {
      width: 90%;
      margin-top: 10px; }
      #structure-cont #struct-desc .struct-card {
        padding: 20px;
        height: 120px; }
  #house-cont {
    margin: 20px 0 20px 0; }
    #house-cont #house-selecs-cont #house-selecs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 350px;
      margin: 20px; }
    #house-cont .house-item {
      font-size: 12px; }
      #house-cont .house-item .houseIntroCont {
        margin-top: 30px;
        width: 90%; }
      #house-cont .house-item .family-members {
        width: 70%; }
        #house-cont .house-item .family-members .member-row {
          width: 100%; }
  #desc-cont-reb {
    width: 300px; }
  .timeline ul li div {
    width: 120px; }
  .timeline ul li:nth-child(even) div {
    left: -240px; } }

@media (min-width: 500px) {
  .table {
    width: 150px; }
  .desc-cont {
    padding: 30px 70px 30px 70px; } }

@media (min-width: 650px) {
  #westeros-cont .westeros-subsec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    #westeros-cont .westeros-subsec .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #westeros-cont .westeros-subsec .info .desc {
        margin: 0 50px 0 50px; }
    #westeros-cont .westeros-subsec #kl-pic {
      width: 50%;
      margin: 0; }
    #westeros-cont .westeros-subsec #wall-pic {
      width: 50%;
      margin: 0; }
  #westeros-cont #beyond-wall {
    flex-direction: row; }
  #essos-cont .essos-subsec {
    margin: 50px 50px 60px 50px; }
    #essos-cont .essos-subsec .desc-img {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start; }
      #essos-cont .essos-subsec .desc-img img {
        width: 45%; }
      #essos-cont .essos-subsec .desc-img .desc {
        width: 50%;
        margin-left: 30px;
        margin-top: 0px;
        text-align: left; }
  #structure-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 1% 20px 1%; }
    #structure-cont #struct-choices {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 190px; }
      #structure-cont #struct-choices button {
        width: 120px;
        margin: 0 20px 10px 20px;
        padding: 15px; }
    #structure-cont #struct-desc {
      width: 65%;
      margin-top: 0px; }
      #structure-cont #struct-desc .struct-card {
        padding: 20px;
        height: 120px; }
  #house-cont {
    margin: 50px 0 20px 0; }
    #house-cont #house-selecs-cont #house-selecs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 600px;
      margin: 20px; }
    #house-cont .house-item {
      font-size: 15px; }
      #house-cont .house-item .houseIntroCont {
        margin-top: 30px;
        width: 70%; }
      #house-cont .house-item .family-members {
        width: 70%; }
        #house-cont .house-item .family-members .member-row {
          width: 60%; }
  #desc-cont-reb {
    width: 550px; }
  .timeline ul li div {
    width: 220px; }
  .timeline ul li:nth-child(even) div {
    left: -340px; } }

@media (min-width: 768px) {
  .table {
    width: 200px; }
  .tableIcon {
    width: 50px;
    height: 50px;
    border-radius: 25px; }
  #headerCont > .header-links {
    padding: 0px 20px 0px 20px; }
  .desc-cont {
    padding: 30px 100px 30px 100px; }
  #structure-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 1% 20px 1%; }
    #structure-cont #struct-choices {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 220px; }
      #structure-cont #struct-choices button {
        width: 150px;
        margin: 0 20px 10px 20px;
        padding: 15px; }
    #structure-cont #struct-desc {
      width: 65%;
      margin-top: 0px; }
      #structure-cont #struct-desc .struct-card {
        padding: 20px;
        height: 170px; }
  #house-cont #house-selecs-cont #house-selecs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 760px;
    margin: 20px; }
  #house-cont .house-item .houseIntroCont {
    margin-top: 30px;
    width: 60%; }
  #house-cont .house-item .family-members {
    width: 60%; }
    #house-cont .house-item .family-members .member-row {
      width: 43%; }
  #desc-cont-reb {
    width: 700px; }
  .timeline ul li div {
    width: 300px; }
  .timeline ul li:nth-child(even) div {
    left: -425px; } }

@media (min-width: 1280px) {
  #continentTabsWrapper .cover-wes {
    margin: 0 0 0 15px;
    width: 100px; }
  #continentTabsWrapper .cover-ess {
    margin: 0 0 0 150px;
    width: 58px; }
  #headerCont > .header-links {
    padding: 0px 25px 0px 25px; }
  #structure-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 1% 20px 1%; }
    #structure-cont #struct-choices {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 280px; }
      #structure-cont #struct-choices button {
        width: 170px;
        margin: 0 40px 10px 40px;
        padding: 15px; }
    #structure-cont #struct-desc {
      width: 900px;
      margin-top: 0px; }
      #structure-cont #struct-desc .struct-card {
        padding: 20px;
        height: 205px; }
  #house-cont {
    margin: 50px 0 20px 0; }
  #desc-cont-reb {
    width: 800px; }
  .timeline ul li div {
    width: 400px; }
  .timeline ul li:nth-child(even) div {
    left: -525px; } }
