// Imports

@import 'App.scss';
@import 'Home.scss';

// General code

// Header

#headerCont {
  @include flex(row, center, center);
  height: 60px;
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #afaeae;

  .header-links {
    padding: 0 25px 0 25px;
    color: #262626;

    &:hover {
      color: #93b7d6;
    }
  }
}

// All Pages

.page-container {
  @include flex(column, flex-start, flex-start)
  width: 100%;
  height: 100%;
}

.body-cont {
  @include flex(row, flex-start, flex-start);
  position: relative;
  width: 100%;
  flex: 1;
}

.content {
  @include flex(column, flex-start, center);
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center;
}

// Table component

.tableIcon {
  @include flex(row, center, center);
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  border-radius: 25px;
  background-color: #e8e8e8;
  cursor: pointer;
  border: solid 1px #afafaf;
  z-index: 20;

  &:hover {
    background-color: #e0e0e0;
  }

}

.table {
  @include flex(column, flex-start, center);
  transform: translateX(-205px);
  background-color: #f9f9f9;
  border: 1px solid #afaeae;
  margin-top: 100px;
  width: 200px;
}

.item-cont {
  @include flex(column, center, center);
  width: 100%;
  height: 40px;
  text-align: center;
  border-bottom: 1px solid #afaeae;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background-color: #e8e8e8;
  }
}

.active-item {
  background-color: #e5e5e5;
}

#table-wrap {
  position: absolute;
  z-index: 20;
}

// World component

.desc-cont {
  padding: 30px 100px 30px 100px;
}

#map-wrap {
  @include flex(column, center, center);
  width: 100%;
  position: relative;

  #map-cont {
    width: 100%;
    filter: brightness(40%);
  }

  #continent-wrap {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    position: absolute;
    z-index: 15;
    color: white;
    width: 100%;

    .continent-sec {
      @include flex(column, center, center);
      width: 400px;
      padding: 20px 80px 20px 80px;

      .subheading {
        font-family: "Poppins";
      }

      .desc {
        font-size: 1.1rem;
      }
    }
  }

  #mapLink {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 16;
  }
}

// Westeros component

#westeros-divider {
  width: 85%;
  height: 1px;
  background-color: #bfbfbf;
  margin-bottom: 10px;
}

#westeros-cont {
  @include flex(column, center, center);
  width: 100%;
  padding-top: 25px;

  .miniheading {
    padding-bottom: 15px;
  }

  .westeros-subsec {
    @include flex(row, space-between, center);
    width: 100%;

    .info {
      @include flex(column, center, center);

      .desc {
        margin: 0 50px 0 50px;
        font-size: 0.9rem;
      }
    }

    #kl-pic {
      width: 50%;
    }

    #wall-pic {
      width: 50%;
    }
  }
}

// Essos component

#desc-cont-essos {
  padding-bottom: 0px;
}

#essos-divider {
  width: 95%;
  height: 1px;
  background-color: #bfbfbf;
}

#essos-cont {
  @include flex(column, flex-start, center);

  .essos-subsec {
    @include flex(column, flex-start, flex-start);
    margin: 50px 50px 60px 50px;

    .miniheading {
      padding-bottom: 10px;
      font-family: "Poppins";
      font-size: 1.75rem;
    }

    .desc-img {
      @include flex(row, flex-start, flex-start);

      img {
        width: 45%;
      }

      .desc {
        width: 50%;
        margin-left: 30px;
        margin-top: 0px;
        text-align: left;
      }
    }
  }
}

// Structure component

#structure-cont {
  padding: 20px 50px 20px 50px;

  .miniheading {
    font-family: "Poppins";
    padding: 5px 0 5px 0;
  }

  #top-half {
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 250px 250px;

    #king-cont {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      margin: 5px;
      @include flex(column, flex-start, center);
      padding: 10px 20px 10px 20px;

      img {
        width: 140px;
      }
    }

    #hand-cont {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      margin: 5px;
      @include flex(column, flex-start, flex-start);
      text-align: left;
      padding: 10px 20px 10px 20px;
    }

    #council-cont {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      margin: 5px;
      @include flex(column, flex-start, flex-start);
      text-align: left;
      padding: 10px 20px 10px 20px;
    }
  }

  #bottom-half {
    display: grid;
    grid-template-columns: 530px 470px;
    grid-template-rows: 300px;

    #house-cont {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      margin: 5px;
      @include flex(column, flex-start, flex-start);
      text-align: left;
      padding: 10px 20px 10px 20px;
    }

    #other-cont {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      margin: 5px;
      @include flex(column, flex-start, flex-start);
      text-align: left;
      padding: 10px 20px 10px 20px;
    }
  }

  // numbers generated courtesy of https://www.cssmatic.com/box-shadow
  .card-shadow {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
    box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
    border: 1px solid #f4f4f4;
  }
}

// House component

.house-buttons {
  padding: 10px 15px 10px 15px;
  margin: 0;
  border-radius: 0;
  background-color: white;
  border: 1px solid #595959;

  &:hover {
    background-color: #f9f9f9;
  }
}

#house-cont {
  padding: 20px 100px 20px 100px;
}


// Animation classes

.expand {
  @include animate(expand, 0.5s, 0s, forwards);
}

.collapse {
  @include animate(collapse, 0.5s, 0s, forwards);
}

// Keyframes

@keyframes expand {
  from {
    transform: translateX(-205px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes collapse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-205px);
  }
}

// Media queries

@media (min-width: 300px) {
  .table {
    width: 100px;
  }
  .tableIcon {
    width: 34px;
    height: 34px;
    border-radius: 17px;
  }
  #headerCont > .header-links {
    padding: 0px 15px 0px 15px;
  }
  .desc-cont {
    padding: 20px 50px 20px 50px;
  }
  #westeros-cont {
    .westeros-subsec {
      @include flex(column, flex-start, center);

      .info {
        @include flex(column, center, center);

        .desc {
          margin: 0 50px 0 50px;
        }
      }

      #kl-pic {
        width: 100%;
        margin: 20px 0 20px 0;
      }

      #wall-pic {
        width: 100%;
        margin: 20px 0 0 0;
      }
    }
    #beyond-wall {
      flex-direction: column-reverse;
    }
  }
  #essos-cont {

    .essos-subsec {
      margin: 50px 50px 60px 50px;

      .desc-img {
        @include flex(column, flex-start, flex-start);

        img {
          width: 100%;
        }

        .desc {
          width: 100%;
          margin-left: 0px;
          margin-top: 10px;
          text-align: left;
        }
      }
    }
  }
  #structure-cont {
    #top-half {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 265px 150px 165px;

      #king-cont {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        img {
          width: 80px;
        }
      }
      #hand-cont {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        @include flex(column, flex-start, center);
        text-align: center;
      }
      #council-cont {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        @include flex(column, flex-start, center);
        text-align: center;
      }
    }
    #bottom-half {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 185px 175px;

      #house-cont {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        @include flex(column, flex-start, center);
        text-align: center;
      }

      #other-cont {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        @include flex(column, flex-start, center);
        text-align: center;
      }
    }
  }
}

@media (min-width: 500px) {
  .table {
    width: 150px;
  }
  .desc-cont {
    padding: 30px 70px 30px 70px;
  }
}

@media (min-width: 650px) {

  #westeros-cont {
    .westeros-subsec {
      @include flex(row, space-between, center);

      .info {
        @include flex(column, center, center);

        .desc {
          margin: 0 50px 0 50px;
        }
      }

      #kl-pic {
        width: 50%;
        margin: 0;
      }

      #wall-pic {
        width: 50%;
        margin: 0;
      }
    }
    #beyond-wall {
      flex-direction: row;
    }
  }

  #essos-cont {

    .essos-subsec {
      margin: 50px 50px 60px 50px;

      .desc-img {
        @include flex(row, flex-start, flex-start);

        img {
          width: 45%;
        }

        .desc {
          width: 50%;
          margin-left: 30px;
          margin-top: 0px;
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 768px){
  .table {
    width: 200px;
  }
  .tableIcon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  #headerCont > .header-links {
    padding: 0px 20px 0px 20px;
  }
  .desc-cont {
    padding: 30px 100px 30px 100px;
  }
  #structure-cont {
    #top-half {
      display: grid;
      grid-template-columns: 300px 450px;
      grid-template-rows: 200px 200px;

      #king-cont {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        img {
          width: 120px;
        }
      }
      #hand-cont {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        @include flex(column, flex-start, flex-start);
        text-align: left;
      }
      #council-cont {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        @include flex(column, flex-start, flex-start);
        text-align: left;
      }
    }
    #bottom-half {
      display: grid;
      grid-template-columns: 400px 350px;
      grid-template-rows: 250px;

      #house-cont {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        @include flex(column, flex-start, flex-start);
        text-align: left;
      }

      #other-cont {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        @include flex(column, flex-start, flex-start);
        text-align: left;
      }
    }
  }
}

@media (min-width: 1280px) {
  #continentTabsWrapper {
    .cover-wes {
      margin: 0 0 0 15px;
      width: 100px;
    }
    .cover-ess {
      margin: 0 0 0 150px;
      width: 58px;
    }
  }
  #headerCont > .header-links {
    padding: 0px 25px 0px 25px;
  }
  #structure-cont {
    #top-half {
      display: grid;
      grid-template-columns: 400px 600px;
      grid-template-rows: 250px 250px;

      #king-cont {
        img {
          width: 140px;
        }
      }
    }
    #bottom-half {
      display: grid;
      grid-template-columns: 530px 470px;
      grid-template-rows: 300px;
    }
  }
}
